<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338147433997-s5s7v9ukf2plkk8e9l4jir2ikrlp8qk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338147433997-s5s7v9ukf2plkk8e9l4jir2ikrlp8qk5</string>
	<key>API_KEY</key>
	<string>AIzaSyCuSCO1g8xnvAQ6IWMBcF4MouV6Qyv9A_I</string>
	<key>GCM_SENDER_ID</key>
	<string>338147433997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.advert.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>advert-4b9e6</string>
	<key>STORAGE_BUCKET</key>
	<string>advert-4b9e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338147433997:ios:b8569ac2da2d5ee3ebbf44</string>
</dict>
</plist>